<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SimpleDictionary.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DataBase" connectionString="metadata=res://*/Entities.SDEntities.csdl|res://*/Entities.SDEntities.ssdl|res://*/Entities.SDEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DB\SupportDB.mdf;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SimpleDictionary.Properties.Settings.DBConnectionString"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DB\SupportDB.mdf;Integrated Security=True;Connect Timeout=10"
      providerName="System.Data.SqlClient" />
    <add name="SimpleDictionary.Properties.Settings.ConnectionTest"
      connectionString="Data Source=(localdb)\Projects;Integrated Security=True;Initial Catalog=SupportDB;Connect Timeout=15;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SimpleDictionary.Properties.Settings.ConnectionLocalDB"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DB\SupportDB.mdf;Integrated Security=True;Connect Timeout=10"
      providerName="System.Data.SqlClient" />
    <add name="SimpleDictionary.Properties.Settings.ConnectionSQL"
      connectionString="Data Source=.;Initial Catalog=SupportDB;Integrated Security=True;Connect Timeout=15;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SimpleDictionary.Properties.Settings.ConnectionExpress"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DB\SupportDB.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True;Connect Timeout=10"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <SimpleDictionary.Properties.Settings>
      <setting name="UseConnection" serializeAs="String">
        <value>ConnectionLocalDB</value>
      </setting>
    </SimpleDictionary.Properties.Settings>
  </applicationSettings>
</configuration>